---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | My Portfolio">
  <section style="text-align: center; margin-top: 2rem;">
    <img src="/final-project/profile.jpg" alt="Profile Picture" style="width: 150px; border-radius: 50%;">
    <h1>Hello, I'm Dearbhla Cunnion</h1>
    <p>Welcome to my personal portfolio. I'm a Software Enginner specializing in UI Development.</p>
  </section>
</Layout>
